# Godot 4+ specific ignores
.godot/
*.uid
*.translation

# Crash reports
crash_reports/

# Export folders & Build artifacts
export/
export_presets.cfg
*.apk
*.exe
*.zip
*.dmg
*.app

# OS specific
.DS_Store
Thumbs.db

# Project local settings
savegame.cfg
user://
